.container {
  width: calc(1100px * 0.5);
  height: calc(500px * 0.5);
  position: relative;
}

.frame {
  border: 3px solid #f5af69;
  width: 1100px;
  height: 500px;
  transform: scale(0.5);
  transform-origin: 0 0;
  position: absolute;
  left: 0;
  top: 0;
}